<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs'); %>
    <link rel="stylesheet" href="css/AboutusStyle.css" />
    <title>Pizza Time | About Us</title>
  </head>
  <body>
  <% if(!user) { %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Pizza Time</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/support">Support</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"  aria-expanded="false">
                More
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li>
                  <a class="dropdown-item" href="/contact">Contact us</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/follow">Follow us</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <% } else { %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/success">Pizza Time</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/success">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cart">Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/support">Support</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"  aria-expanded="false">
                More
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li>
                  <a class="dropdown-item" href="/contact">Contact us</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/follow">Follow us</a>
                </li>
              </ul>
              <span class="navbar-text">
                <form id="logout" action="/logout" method="POST" >
                  <a onclick="document.getElementById('logout').submit()">
                    <button type="button" class="btn btn-outline-danger">Logout</button>
                  </a>
                </form>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <% } %>
    <h1>About Us</h1>

    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://source.unsplash.com/2600x1000/?veg,pasta" class="d-block w-100" alt="..."/>
        </div>
        <div class="carousel-item">
          <img src="https://source.unsplash.com/2600x1000/?veg,pizza" class="d-block w-100" alt="..."/>
        </div>
        <div class="carousel-item">
          <img src="https://source.unsplash.com/2600x1000/?burger, veg" class="d-block w-100" alt="..."/>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="card mb-3" style="max-width: 1024px">
      <div class="row g-0">
        <div class="col-md-4">
          <video class="img-fluid rounded-start" width="320px" height="240" autoplay loop alt="...">
            <source src="Menu/Pizza Time.mp4" width="320px" height="240" type="video/MP4"/>
          </video>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Pizza Time</h5>
            <p class="card-text">
              Everything began in 2021 when we opened our work of Pizza
              delivery at your door step. All is began with two variety of Pizza
              and now We've soo many varieties available that match to your
              taste. We do not have any shop because our purpose is to serve a
              better home made quality of Pizza. We always takes care of the
              hygine and that's why our chef wear Mask, Gloves, Apron while
              prepare love for you and as per World Health Organisation and
              Indian government guidline regards COVID - 19.<br>
              We frequently wash and sanitize our hands, Our delivery
              boy maintain distance while he deliver the product at your door
              step
            </p>
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
  </body>
</html>
