*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/* Menu Card */
.menu{
    display: flex;
    align-items: center;
}
.btn{
    padding: 6px 20px;
    border: 2px solid whitesmoke;
    background-color: brown;
    color: white;
    margin : 17px;
    font-size: 0.85rem;
    border-radius: 0.86rem;
    cursor: pointer;
}